<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <h4>Mantenimiento Grupos</h4>
        <button class="btn btn-success">Agregar</button>
    </div>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Carrera</th>
                <th>ID Materia</th>
                <th>ID Profesor</th>
                <th>Ciclo</th>
                <th>Año</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Supongamos que tienes una lista llamada lstGrupos -->
            @for (item of lstGrupos; track index; let index = $index) {
            <tr>
                <td>{{item.idGrupos}}</td>
                <td>{{item.idCarrera}}</td>
                <td>{{item.idMateria}}</td>
                <td>{{item.idProfesor}}</td>
                <td>{{item.cliclo}}</td>
                <td>{{item.anio}}</td>
                <td>
                    <button class="btn btn-primary">Actualizar</button>
                    <button class="btn btn-danger ml-2">Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>